00_simple_mysql/db/mysql_data
00_simple_mysql/db/logs
01_nodejs/00_nodejs/api/express/node_modules
01_nodejs/00_nodejs/db/mysql_data
01_nodejs/00_nodejs/db/logs
02_go/00_go/db/mysql_data
02_go/00_go/db/logs
02_go/01_go_mvc/mysql_data
02_go/01_go_mvc/logs
02_go/02_go_crypto/mysql_data
02_go/02_go_crypto/logs
02_go/03_go_session/mysql_data
02_go/03_go_session/logs